Cargo.lock
target
rusty-tags.vi
.history
.flatbuffers/
.idea/
.vscode
venv/*
# created by doctests
parquet/data.parquet
# release notes cache
.githubchangeloggenerator.cache
.githubchangeloggenerator.cache.log